.cityWeather{
    width:100%;
    text-align: center;
    
}
.cityWeather input{
    margin-top: 100px;
    float:left;
    margin-right: 20px;
}
.cityWeather button{
    float:left;
    margin-top: 100px;
}
.cityWeather button:hover{
    cursor: pointer;
}

.error{
    float:left;
    margin-top: 10px;
    color: #ff0000;
    width:100%;
    text-align: center;
}
.weather{
    float:left;
    margin-top: 50px;
    width:100%;
    text-align: center;

}


@media (min-width:992px) and (max-width:1782px){
    .error,.weather{width: 1000px !important;}
}

@media (max-width:991px){
    .cityWeather{display: grid;}
}
