
.button{
    margin-bottom: 15px;
    margin-top:100px;
    
}
.button:hover{
    cursor: pointer;
}

#randomWeather{
    width: 100%;
    display: grid;
  align-items: center;
  justify-content: center;
}

.randomWeather > div{
    margin-bottom: 15px;
}



